      <!-- social stuff -->
      <div class="social">
        <div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="FCRobot">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>

        <div>
          <!-- Place this tag where you want the +1 button to render. -->
            <div class="g-plusone"></div>

            <!-- Place this tag after the last +1 button tag. -->
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/platform.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
        </div>

        <div>
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>

          <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
      </div>

    <footer>
        <p>Copyright and creation by <em>Fernando Bevilacqua</em> - <a href="https://twitter.com/as3gamegears" target="_blank">@As3GameGears</a>. Gamedev has a lot of funny situations, it's time to laugh about it :)<br />Suggestion, critics and comments? Ping me on <a href="http://twitter.com/as3gamegears" target="_blank">twitter</a> or email <a href="mailto:dovyski@gmail.com" target="_blank">dovyski@gmail.com</a>.</p>
        <p>Follow us:</p>
        <p>
            <a href="http://twitter.com/FCRobot" target="_blank"><img src="{{ include.dir }}img/icon_twitter.png" title="Twitter" border="0"></a>
            <a href="{{ include.dir }}rss.xml"><img src="{{ include.dir }}img/icon_rss.png" title="RSS Feed" border="0"></a>
        </p>
        <p><small><a href="{{ include.dir }}about.html">About the comics</a>. Hosted on <a href="https://github.com/Dovyski/FeatureCreepRobot.com" target="_blank">GitHub Pages</a>.</small></p>
      </footer>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-10567379-9', 'featurecreeprobot.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>