<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<meta property="og:image" content="http://www.featurecreeprobot.com/strips/{{ page.num }}.png"/>
    <meta property="og:type" content="website" />
	<meta property="og:site_name" content="Feature Creep Robot" />
	<meta property="og:title" content="Feature Creep Robot" />
	<meta property="og:description" content="A webcomic about gamedev."/>

    <meta name="twitter:card" content="photo"/>
	<meta name="twitter:domain" content="http://www.featurecreeprobot.com"/>
    <meta name="twitter:image:src" content="http://www.featurecreeprobot.com/strips/{{ page.num }}.png"/>
    <meta name="twitter:title" content="A webcomic about gamedev."/>
    <meta name="twitter:site" content="@FeatureCreepRobot"/>
	<meta name="twitter:creator" content="@FeatureCreepRobot"/>
	<meta name="twitter:image:width" content="700"/>
    <meta name="twitter:image:height" content="310"/>
	<link rel="shortcut icon" href="favicon.ico">

    <link rel="alternate" type="application/rss+xml" title="Feature Creep Robot RSS Feed" href="http://www.featurecreeprobot.com/rss.xml" />

    <title>Feature Creep Robot</title>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ include.dir }}css/style.css?20170625">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><img src="{{ include.dir }}img/logo.png" width="453" height="101" title="Feature Creep Robot"/></a>
      </header>
