{% include header.html dir="./" %}
      <h2>About</h2>

      <div class="about">
        <p>Feature Creep Robot comic was created by me, <a href="http://twitter.com/as3gamegears" target="_blank">Fernando Bevilacqua</a>, a Computer Science professor and game developer. The main idea is to expose and poke fun of the funny situations that happen in the game development world.</p>
        <p>If you lived or witnessed any funny moment while working with games, please <a href="mailto:dovyski@gmail.com">drop me a note</a> so we can all laugh about it.</p>
          
        <h3>Inspirations</h3>
        <ul>
            <li>Randall Munroe‘s comic strip <a href="http://xkcd.com" target="_blank">XKCD</a>.</li>
            <li><a href="http://twitter.com/UllCon" target="_blank">Connor Ullmann's</a> web comic <a href="http://depressedalien.com" target="_blank">Depressed Alien</a>.</li>
            <li><a href="http://ch00ftech.com/" target="_blank">Michael Ciuffo's</a> <a href="http://xkcdsucks.blogspot.cz/2009/03/xkcdsucks-is-proud-to-present-humor.html" target="">humor-sans.ttf font</a>.</li>
            <li><a href="http://hildebrand.cz/" target="_blank">Antonin Hildebrand</a> and his <a href="https://github.com/darwin/cmx.js" target="_blank">cmx.js</a> (lib for building xkcd-style comic strips).</li>
            <li><a href="https://twitter.com/LZAntal" target="_blank">Laszlo Z. Antal</a> and his sketches.</li>
            <li>Everyone who supported my idead and motivated me to launch this comic.</li>
        </ul>
      </div>

{% include footer.html dir="./" %}