{% include header.html dir="../" %}
      <section>
          <img src="../strips/{{ page.num }}.png" title="{{ page.title }}" class="strip" id="strip"/>
      </section>  
      
      <nav>
          {% if page.previous %} <a href="{{ page.previous }}" id="nav-prev"><img src="../img/arrow_right.png" width="40" height="40" title="Previous"/></a> {% endif %}
          <span id="strip-number">#{{ page.num }}</span>
          {% if page.next %} <a href="{{ page.next }}" id="nav-prev"><img src="../img/arrow_right.png" width="40" height="40" title="Next"/></a> {% endif %}
      </nav>

{% include footer.html dir="../" %}